@media only screen and (max-device-width: 580px){
  p{
    font-size: 27px;
    text-align: center;
  }
  
  .body_wrapper{
    width: 90%;
    margin: 0% 5%;
  }
  
  .paragraph_1{
    clear: both;
  }
  
  
  .paragraph_2{
    text-align:center;
  }
  
  .image_wrapper{
    position: relative;
    margin-bottom: 15px;  
    border:0;
    padding: 0;
    width: 100%;
  }
  
  #index_image_1{
    border-radius: 0;
    width: 100%;    
  }
}

@media only screen and (max-device-width: 375px){
  p{
    font-size: 15px;
    text-align: center;
  } 
}

@media only screen and (max-width: 480px){
  .body_wrapper{
    width: 90%;
    margin: 0% 5%;
  }
}

@media only screen and (max-width: 580px){
  
  .paragraph_1{
    clear: both;
  }
  
  .image_wrapper{
    float: none;
    display: inline-block;
    position: relative;
    left: 25%;
    margin-bottom: 15px;  
    padding: 0;
  }
  
  #index_image_1{
    content: url(../images/tiger-pic-small.jpg);    
  }
  
  .minions_iframe{
    font-size: 12px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 480px){
  nav ul li{
    width: 100%;
  } 
  
  h1{
    margin-top: 150px; 
  }
}

@media only screen and (max-width: 340px){
  h1{
    font-size: 20px;    
  }
   
  .show_title{
    font-size: 18px;
  }  
   
  .image_wrapper{
    margin-bottom: 5px;  
  }
  
  #index_image_1{
    content: url(../images/tiger-pic-smallest.jpg);    
  }
}